.cart-style h1 {
    position: absolute;
    top: 70px;
}

.section-cart-adjust {
    height: 93px;
}

.error-cart {
    position: absolute;
    top: 10px;
    left: 80px;
}

.cart-dom {
    width: 89vw;
    justify-self: center;
    margin-top: 13px;
}

.cart-boxes {
    /* background-color: hotpink; */
    border-bottom: 1px solid black;
}

.cart-title-style {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 4px;
    margin-top: 2px;

    &>h2:first-child {
        padding: 3px 3px 0 0;
    }

    &>h2:last-child {
        padding: 3px 20px 0 3px;
    }
}

.cart-title-style .dots {
    flex: 1;
    border-bottom: 3px dotted black;
    transform: translateY(11px);
}

.more-less-remove {
    display: flex;
    justify-content: space-between;
}

.more-or-less {
    display: flex;
    gap: 6px;
    margin-bottom: 7px;
}

.more-button, .less-button, .remove-cart-button {
    /* background-color: var(--light-gray-menu); */
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    font-size: 2em;
    border: none;
    cursor: pointer;
}

.less-button {
    position: relative;
    font-size: 0;
}

.remove-cart-button {
    background-color: rgb(255, 96, 96);
    margin-right: 22px;
    font-size: 1em;
    font-weight: bold;
}

.less-button::after {
    content: "";
    width: 14px;
    height: 2.5px;
    background: currentColor;
    display: block;
}

/* .remove-cart-button {
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    font-size: 2em;
    border: none;
    cursor: pointer;
} */

.menu-button {
    margin-left: 20px;
    margin-top: 41px;
    background-color: var(--light-gray-menu);
    color: var(--text-color);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--dark-gray);
    }
}

.total-display-big,
.bottom-button {
    display: flex;
    width: 87vw;
    /* background-color: hotpink; */
    justify-self: center;
    justify-content: center;
    margin: 10px 0;
    border-radius: 5px;
}

.total-display-big {
    background-color: hotpink;
    /* background-color: var(--light-gray); */
    justify-content: space-between;
    align-items: center;
    padding: 14px;

    & .cost {
        font-size: 2.1em;
    }
}

.bottom-button {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--dark-gray);
    padding: 1em 0;
    cursor: pointer;
    border: none;
    transition: 
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.2s ease;

    &:hover {
        background-color: var(--light-gray-menu);
    }
    &:active {
        box-shadow: 0 0 8px var(--animation-green);
        transform: scale(1.1);
    }
}