@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    /* main menu: */
    --green-menu: #489078;
    --light-gray-menu:#837C7C;
/* cart: */
    --white-ish-cart: #EEEEEE;
/* waiting:  */
    --see-receipt-waiting: #CFCDCA;
/* all */
    --dark-gray: #353131;
    --gray-background: #605858;
    --light-gray: #C2C1C1;
    --text-color: #EBEAE7; 
    --main-font: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font)
}

.display-remove {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.menu-style {
    background-color: var(--green-menu);
    color: var(--text-color);
    padding-bottom: 6em;
}

.cart-style {
    background-color: var(--white-ish-cart);
    padding-bottom: 6em;
}

.waiting-style {
    background-color: var(--gray-background);
}

.receipt-style {
    background-color: var(--gray-background);
}

.test-button-delete-me {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 390px;
    height: auto;
    cursor: default;
    z-index: 10;
    opacity: 0.5;
    /* display: none; */
}