.cart {
    position: relative;
    height: 97px;

    &>* {
        position: absolute;
    }
}

.cart img {
    background-color: var(--white-ish-cart);
    border-radius: 5px;
    padding: 14px;
    right: 25px;
    top: 19px;
}

.to-cart img {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 15px black;
    }
}

.amount-in-cart {
    background-color: rgb(255, 102, 117);
    width: 23px;
    height: 23px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 13px;
    top: 7px;
}

.error-menu {
    position: absolute;
    top: 20px;
    left: 50px;
}

.menu-dom {
    background-color: var(--light-gray-menu);
    /* background-color: hotpink; */
    border-radius: 5em;
    width: 87vw;
    justify-self: center;

    &> :first-child {
        border-radius: 9px 9px 0 0;
    }

    &> :last-child {
        border-radius: 0 0 9px 9px;
    }
}

.food-boxes {
    background-color: var(--gray-background);
    cursor: pointer;
    margin-bottom: 1px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.1s ease,
        trasform 0.2s ease;

    &>p {
        padding: 3px 0 19px 14px;
    }

    &:hover {
        background-color: var(--dark-gray);
    }

    &:active {
        box-shadow: 0 0 8px var(--animation-green);
        transform: scale(1.03);
    }
}

.menu-title-style {
    display: flex;
    align-items: center;
    gap: 10px;

    &>h2:first-child {
        font-size: 1.3em;
        padding: 13px 3px 0 15px;
    }

    &>h2:last-child {
        font-size: 1.4em;
        padding: 13px 15px 0 3px;
    }
}

.menu-title-style .dots {
    flex: 1;
    border-bottom: 3px dotted var(--text-color);
    transform: translateY(18px);
}

.sauce-menu,
.drink-menu {
    margin-top: 14px;
    background-color: var(--gray-background);
    /* background-color: hotpink; */
    border-radius: 10px;
    width: 87vw;
    padding-bottom: 2px;
    justify-self: center;
}

.sauce-dom,
.drink-dom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 21px 16px 16px 16px;

    &>button {
        flex: 1 1 auto;
        min-width: 63px;
        max-width: max-content;
        color: var(--text-color);
        background-color: var(--light-gray-menu);
        /* background-color: hotpink; */
        border-radius: 5px;
        padding: 6px 12px;
        /* display: inline-flex; */
        /* justify-content: center; */
        /* align-items: center; */
        cursor: pointer;
        white-space: nowrap;
        transition:
            background-color 0.3s ease,
            box-shadow 0.1s ease,
            transform 0.2s ease;

        &:hover {
            background-color: var(--dark-gray);
        }

        &:active {
            box-shadow: 0 0 8px var(--animation-green);
            transform: scale(1.1);
        }
    }
}

/* @media (max-width: 400px) {
    .sauce-dom > button,
    .drink-dom > button {
        min-width: 50px;
        padding: 4px 8px;
        font-size: 0.9em;
    }
    .sauce-dom,
    .drink-dom  {
        gap:15px;
    }
} */