.cart {
    position: relative;
    height: 105px;

    &>* {
        position: absolute;
    }
}

.cart img {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    right: 22px;
    top: 19px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 15px black;
    }
}

.amount-in-cart {
    background-color: red;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 10px;
    top: 10px;
}

h1 {
    margin-left: 19px;
    margin-bottom: 8px;
}

.menu-dom {
    background-color: var(--light-gray-menu);
    border-radius: 5em;
    width: 87vw;
    justify-self: center;

    &> :first-child {
        border-radius: 10px 10px 0 0;
    }

    &> :last-child {
        border-radius: 0 0 10px 10px;
    }
}

.food-boxes {
    background-color: var(--gray-background);
    cursor: pointer;
    margin-bottom: 1px;
    transition: background 0.3s;

    &>p {
        padding: 3px 0 22px 14px;
    }
}

.food-boxes:hover {
    background-color: var(--dark-gray);
}

.menu-title-style {
    display: flex;
    align-items: center;
    gap: 10px;

    &>h2:first-child {
        padding: 13px 3px 0 15px;
    }

    &>h2:last-child {
        padding: 13px 15px 0 3px;
    }
}

.menu-title-style .dots {
    flex: 1;
    border-bottom: 3px dotted var(--text-color);
    transform: translateY(20px);
}

.sauce-menu, .drink-menu {
    margin-top: 1em;
    background-color: var(--gray-background);
    border-radius: 10px;
    width: 87vw;
    padding-bottom: 2px;
    justify-self: center;
}

.sauce-dom, .drink-dom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 20px 13px;
    /* margin-top: 20px; */
    & > div {
        background-color: var(--light-gray-menu);
        /* background-color: hotpink; */
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s;
        cursor: pointer;
        &:hover {
            background-color: var(--dark-gray);
        }
        & > p {
            white-space: nowrap;
            padding: 6px 0em;    
        }
    }
}
