.error-receipt {
    position: absolute;
    top: 50px;
    left: 90px;
}

.receipt-big {
    background-color: var(--white-ish-cart);
    width: 87vw;
    justify-items: center;
    justify-self: center;
    text-align: center;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
}

.receipt-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>img {
        width: 40px;
    }

    &>h2 {
        padding-top: 6px;
        font-size: 1.6em;
    }
    &>p {
        margin-top: -3px;
        font-weight: bold;
    }
}