.to-menu {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.182), 0 0 0 rgba(0, 0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-1px);
        box-shadow:
            inset 0 0 10px rgba(0, 0, 0, 0),
            0 4px 15px rgba(0, 0, 0, 0.6);
    }

    &:focus-visible {
        outline: 3px solid var(--animation-green);
        border-radius: 5px;
        transform: scale(1.05);
    }
}

.h1-cart {
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    width: clamp(300px, 87vw, 500px);
    margin-top: -35px;
    margin-bottom: -26px;
}

.cart-dom {
    width: clamp(300px, 87vw, 500px);
    margin-inline: auto;
    margin-top: 13px;
}

.cart-boxes {
    border-bottom: 1px solid black;
}

.cart-title-style {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 2px 0;

    &>h2:first-child {
        padding: 3px 3px 0 0;
    }

    &>h2:last-child {
        padding: 3px 24px 0 0px;
    }
}

.cart-title-style .dots {
    flex: 1;
    height: 2px;
    margin-top: 23px;
    background: repeating-linear-gradient(to right,
            rgb(0, 0, 0) 0 2px,
            transparent 2px 4px);
}

.cart-title-style .item-price {
    white-space: nowrap;
}

.more-less-remove {
    display: flex;
    justify-content: space-between;
    margin-left: 1px;
    margin-bottom: 5px;
}

.more-or-less {
    position: relative;
    display: flex;
    gap: 74px;
    margin-bottom: 7px;

    &>p {
        position: absolute;
        font-weight: bold;
        bottom: 3px;
        left: 30px;
        font-size: 0.9em;
    }
}

.more-button,
.less-button,
.remove-cart-button {
    background-color: var(--light-gray);
    color: var(--light-gray-menu);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    font-size: 1.8em;
    border: none;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        box-shadow 0.1s ease,
        trasform 0.2s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px var(--dark-gray);
    }

    &:active {
        box-shadow: 0 0 8px var(--animation-green);
        transform: scale(1.2);
    }

    &:focus-visible {
        position: relative;
        outline: 3px solid var(--animation-green);
        transform: scale(1.1);
    }
}

.less-button {
    position: relative;
    font-size: 0;
}

.remove-cart-button {
    margin-right: 22px;
    font-size: 1em;
    font-weight: bold;

    img {
        pointer-events: none;
        width: 13px;
    }
}


.less-button::after {
    content: "";
    width: 14px;
    height: 2.5px;
    background: currentColor;
    display: block;
}

.menu-button {
    margin-left: 20px;
    margin-top: 45px;
    background-color: var(--light-gray-menu);
    color: var(--text-color);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition:
        box-shadow 0.3s ease,
        transform 0.2s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 15px black;
        transform: scale(1.1);
    }

    &:focus-visible {
        position: relative;
        outline: 3px solid var(--animation-green);
        background-color: var(--dark-gray);
        outline-offset: 1px;
        border-radius: 5px;
        transform: scale(1.1);
    }
}

.total-display-big,
.bottom-button {
    display: flex;
    width: clamp(300px, 87vw, 500px);
    margin-inline: auto;
    justify-content: center;
    margin: 10px 0;
    border-radius: 5px;
}

.total-display-big {
    background-color: var(--light-gray);
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-top: 71px;
    margin-inline: auto;

    & .cost-cart {
        font-size: 2.1em;
    }
}

.bottom-button {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--dark-gray);
    padding: 1em 0;
    cursor: pointer;
    border: none;
    margin-inline: auto;
    transition:
        box-shadow 0.3s ease,
        transform 0.2s ease;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 15px black;
    }

    &:focus-visible {
        position: relative;
        outline: 3px solid var(--animation-green);
        outline-offset: 1px;
        border-radius: 5px;
        transform: scale(1.03);
    }
}