body {
    position: relative;
}

.global-error-message {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.621);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.global-error-message.visible {
    opacity: 1;
    pointer-events: auto;
}

.error-card {
  background: linear-gradient(to bottom, var(--animation-green), var(--green-menu));
  padding: 30px;
  width: 340px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 1em;
  border-radius: 10px;
}

.global-error-message {
    color: var(--red);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 2px 4px black;
    white-space: pre-wrap;
    text-align: center;
}

/* .error-message {

}

.error-exit {

} */